body{
  width: 100%;
  text-align: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* main content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-bottom: 0;
  
}
.navbar{
  display: none !important;
  background-color: red !important;
}
.nav-link{
  color: white !important;
}
/* side stuff */
#sidePic{
  height: 150px;
  border: 5px solid blue;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sideName{
  color: white;
}
.sideNavs{
  margin-top: 50px;
  margin-bottom: 50px;
}
.sidelinks{
  margin: none;
  display: inline-flex;
}
h1{
  color: white;
  padding: 50px;
}
h2{
  padding: 50px;
}
p{
  color: white;
}
#uppity{
  position: fixed;
  right:0;
  bottom: 0;
  border-radius: 25px;
  background-color: rgb(75, 75, 75);
  z-index: 27;
  margin:10px;
  text-decoration: none;
}
/* section1 */
#section1{
 padding-top: 200px;
  background:url(/images/WhatsApp\ Image\ 2021-10-25\ at\ 2.04.26\ PM\ \(1\).jpeg);
  height: 900px;
  background-repeat: none;
  background-size: cover;

  margin: 0;
}
#down{
  margin-top: 250px;
  background-color: grey;
  border-radius: 50%;
  
}

/* section2 */
#section2{
 background-color: darkgray;
 height: 1000px;
}

/* section3 */
#section3{
  background-color: darkgoldenrod;
  height: 1000px;
}
/* section4 */
#section4{
  background-color: cadetblue;
  height: 1000px;
}
/* section5 */
#section5{
  background-color: brown;
  height: 1000px;
}
/* section6 */
#section6{
  background-color: purple;
  height: 1000px;
}
/* section7*/
#section7{
  background-color: green;
  height: 1000px;
}
footer{
  background-color: red;
  bottom: 0;
  margin: 0;
}

/* media queries */
@media screen and (max-width: 600px) {
  .navbar{
    display: initial !important;
    width: max-content;
    position: fixed;
    background-color: red !important;
  }
  .sidenav{
    display: none !important;
  }
  .main{
    margin: 5px;
  }
}
