body{
  width: 100%;
  background-color: rgb(53, 52, 52);
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
*{
  font-family: 'Anton', sans-serif;
}
/* The sidebar menu */
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  color: #f1f1f1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  width: 100%;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.navbar-toggler-icon{
 background-color: #818181;
 border-radius: 21px;
}
.navbar-toggler{
  border-color: #e9c46a !important;
}
.navbar-light .navbar-toggler {
   color: #e9c46a !important;
  border-color: white !important;
}
.navbar-toggler:focus{
  border: none !important;
}
.collapsed{
  border: none !important;
}
ul{
  list-style: none;
}
.nav li {
  color: white;
  width: 100%;
  text-decoration: none;
}

.nav li.active {
  color: #e9c46a;
  background: #e9c46a;
}
.active{
 color: #e9c46a !important;
}



/* main content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-bottom: 0;
  overflow-x: hidden;
  
}
.intro{
 margin-top:10%;
}
.into1{
  color: #e9c46a;
  padding: 20px !important;
  font-size: 70px !important;
  font-family: 'Anton', sans-serif;
}
.scrollToTopBtn {
  
  cursor: pointer;
  border-radius: 50%;
  width: 90px;
  background: #e9c46a;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
#logo{
  height: 100px;
  
  border-radius: 25px;
}
.firebase{
  height: 50px;
}
.navbar{
  display: none !important;
  background-color: red !important;
}
.nav-link{
  color: white !important;
}
.nav-link:hover{
  color: #e9c46a !important;
}
.nav-link:focus{
  color: #e9c46a !important;
}
.nav-link:active{
  color: #e9c46a !important;
}
/* side stuff */
#sidePic{
  height: 150px;
 
   box-shadow: 0 8px 32px 0 #e9c46a;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#sideName{
  color: white;
 text-decoration: #e9c46a underline;
  margin-top: 20px;
  font-size: 20px;
}
.sideNavs{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.sidelinks{
  margin: none;
  display: inline-flex;
  width: 100%;
}
.sidelinkin:hover{
  color: white !important;
  animation-name: wobble-hor-bottom ;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  border-radius: 0;
}
.sidelinkin{
  color: white;
  text-decoration: none;
}
 /* content */
 .disamess{
   border-radius: 25px;
   /* border: #e9c46a solid 2px;
   background-color: white; */
   color: black;
   width: 250px;
   /* padding:20px; */
   animation: hideAnimation 0s ease-in 10s;
  animation-fill-mode: forwards;
  margin-left: 45%;
 }
 .mess{
   color: black;
   text-align: start;
 }
 .logo{
   height: 100px;
   margin-left: 300px;
   display: none;
 }

h1{
  color: #e9c46a;
  padding: 50px !important;
  font-size: 70px !important;
  font-family: 'Anton', sans-serif;
}
.p-details{
  font-family: sans-serif;
}
.sub-head{
  color: white;
  font-size: 50px !important;
  text-decoration: underline #e9c46a;
}
.downloadcv{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 15px;
  font-size: 20px; margin-left: 100px !important;
  margin: 15px;
  font-family: sans-serif;
  background:  #e9c46a;;

backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 25px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.downloadcv:hover{
  color: white;
  box-shadow: 0 8px 32px 0 #e9c46a;
  background-color: black;
}
h2{
  padding: 50px;
}
p{
  color: white;
}


/* section1 landing  */
#section1{
 padding-top: 50px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/people/bg-me.jpeg);
  height: 100vh;
  background-repeat: none;
  background-size: cover;
  margin: 0;

}
#down{
  margin-top: 50px;
  background-color: grey;
  border-radius: 50%;
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
#down:hover{
  background: white;
  box-shadow: 0 8px 32px 0 #e9c46a;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 50%;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* section2 about */
#section2{
 background-color: rgb(53, 52, 52);
 height: 500px;
}
.subbed-head1{
  color: #e9c46a;
  display: inline !important;
  text-align: start !important;
  
}
.subbed-head2{
  color: #e9c46a;
  display: inline !important;
  text-align: start !important;
  
}
.subbed-head{
  color: white;
  display: inline !important;
  text-align: start !important;
}
.sentence1{
  font-family: sans-serif;
  color: white;
  text-align: start;
}
.equals{
  color: white;
  font-weight:bolder;
  font-family: sans-serif !important;
  display: inline;
  text-align: start;
}
.equaled{
  color: white;
  font-family: sans-serif !important;
  display: inline !important;
  font-size: 20px;
  text-align: start;
}
.equaled1{
  color: #e9c46a;
  font-family: sans-serif !important;
  display: inline !important;
  font-size: 20px;
  text-align: start;
}
button{
  border-radius: 25px !important;
  padding: 15px;
  background-color: #e9c46a;
  color: white;
  font-family: sans-serif !important;
  font-weight: bolder;
  width: 200px;
  
}
.line1{
  color: white !important;
}
/* section3  experince*/
#section3{
  background-color: rgb(102, 102, 102);
  height: max-content;
}
/* timeline */
/* time line */
.timeline {
	width:1500px !important;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
 
  /* background-color: whitesmoke !important; */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(0, 0, 0) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after {
  display: inline-block;
  content: "";
  width: 100%;
  
}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #e9c46a;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
  
  
}
.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
  color: black;
  background-color: white;
	transform: translateX(-50%);
  border-radius: 25px;
  padding: 5px;
  border: #e9c46a 1px solid;
  
  
}
.lifech{
  margin-right: 25px;
}
.timeline li:nth-child(odd):before {
	top: -40px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}
.timeline li:after {
	display: inline-block;
  color: white;
  background: rgba( 0, 0, 0, 0.6 );
box-shadow: 0 8px 32px 0 #e9c46a;
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 5%;
  padding: 20px;

   
	content: attr(data-text);
	font-size: 27px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
 
}
.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}
#timezone{
  background-color: rgb(102, 102, 102);
  height: 500px;
  overflow: scroll;
  padding: 150px;
  padding-left: 20px;
  padding-right: 200px;
  margin-right: 50px !important;
  margin-left: 42px;
  overflow-y: hidden;
  border-top: #e9c46a 5px solid;
  border-left: #e9c46a 5px solid;
  border-right: #e9c46a 5px solid;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 #e9c46a;
}
#scroller{
  color: black;
  animation-name: heartbeat;
  animation-duration:1.5s;
  animation-iteration-count: infinite;
}
/* section4 project */
#section4{
  background-color: rgb(102, 102, 102);
  height: max-content;
}
/* rating */
.checked {
  color: limegreen;
}

.web-link {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 15px;
  
  margin: 15px;
  font-family: sans-serif;
  background:  #e9c46a;;

backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 25px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.web-link:hover{
  color: white;
  box-shadow: 0 8px 32px 0 #e9c46a;
  background-color: black;
}
.carousel-button{
  border: 2px solid black;
  padding: 15px;
  
  background-color: #e9c46a;
  border-radius:50% ;
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
 
}
.carousel{
  margin-left: 25px;
  margin-right: 25px;
}

/* section5  TESTIMONIALS */
#section5{
  background-color: rgb(53, 52, 52);
  height: 800px;
}
/* profiles */
.accordion-item{
  width: 300px;
  margin:27px;
  border-radius: 25px !important;
  background: rgba( 141, 137, 137, 0.7 ) !important;

backdrop-filter: blur( 4px )!important;
-webkit-backdrop-filter: blur( 4px )!important;

  
}
.accordion-button{
  color:black !important;
  box-shadow: none !important;
  background-color: #e9c46a !important;
}
.accordion-button:focus{
  color:black !important;
  box-shadow: none !important;
  background-color: white !important;
}
.accordion-button:active{
  color:black !important;
  box-shadow: none !important;
  background-color: white;
}
.accordion-button::after{
  color: black !important;
}
.accordion-button::before{
  border: 2px solid gray !important;
}
.collapsed{
  border: 2px solid red;
}
.accordion-body{
  color: white;
  font-family: sans-serif;
}

.people-pic{
  border-radius: 25px;
  height: 150px;
  width: 200px;
  border: 2px solid black;
  margin-top: 50px;
 
}
.testi{
  margin-left: 50px;
}

/* section6 */
/* skills */
#section6{
  background-color: rgb(53, 52, 52);
  height: 600px;
}
.note{
  margin: 20px;
}
.percentage{
  background-color: white;
  border-radius: 25px;
  border: 1px black solid;
  height: 27px;
}
.note-head{
  color: white;
  display: inline;
  margin-right: 50px;
}
.note-sub{
  color: white;
  font-family: sans-serif;
  display: inline;
}
#angular{
  height: 50px;
}
/* section7 contact*/
#section7{
  background-color: rgb(102, 102, 102);
  height: 700px;
}
.contact-head{
  text-align: start;margin-left: 200px; color: #e9c46a;
}
footer{
  background-color: rgb(53, 52, 52);
  bottom: 0;
  height: max-content;
  padding: 20px;
  font-family: sans-serif;
}
textarea{
  width: 100%;
  margin-left: 10px !important;
  border-radius: 20px;
  padding: 20px;
}
.contact-info{
  font-family: sans-serif;
  margin-left: 300px;
}
.contact-info1{
  font-family: sans-serif;
  
}
.send-but{
  margin: 20px;
  color: #111;
  border:none;
}
.send-but:hover{
  background: rgba( 11, 11, 11, 0.75 );
box-shadow: 0 8px 32px 0  #e9c46a;
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
}
/* media queries */
@media screen and (max-width: 600px) {
  .navbar{
    display: initial !important;
    width: max-content;
    position: fixed;
    
  }
  .sidenav{
    display: none !important;
  }
  .main{
    margin:0;
    /* overflow-x: hidden; */
  }
  h1{
    font-size: 50px  !important;
    padding: 10px;
  }
  .sub-head{
    padding: 50px;
  }
  .accordion-item{
    width: 300px;
    margin-left: 10px;
    margin-right: 20px !important;
  }
 .footer{
   width: 100%;
   height: max-content;
  
 }
 .contact-info{
   margin: 0;
 }
 .contact-head{
   margin-left:  100px !important;
 }
 .sidelinker{
   margin-right: 10px;
 }
 .into1{
   font-size: 50px !important;
 }
 .logo{
  height: 100px;
  margin-left: 0px !important;
  display: initial;
}
#timezone{
  border-bottom: 5px #e9c46a solid !important;
}
.d-block{
  height: 250px !important;
}
.subbed-head1{
  font-size: 23px !important;
  padding:20px !important;
  
}

.web-link{
  font-size: 10px;
 margin: 2px !important;
 
}
.carousel-button{
  margin-bottom: 100px;
  height: 70px;
}
.mail{
  font-size: 15px;
}
.downloadcv{
  margin-left: 75px !important;
}
.testi{
  text-align: center;
  margin-left: 30px;
  width: 75vw;
  
}
.mobile-sub{
  font-size:40px !important ;
}
.areatxt{
  margin-right: 20px;
}
#logo{
  height: 50px;
}
}

#section2{
  height: max-content;
}
#section6{
  height: max-content;
}
#section5{
  height: max-content;
}
#section7{
  height: max-content;
}
/* animations */
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-26 8:59:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-27 11:28:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes visibility {
  100% {
          max-height: inherit;
          visibility: visible;
  }
}

@keyframes visibility {
  100% {
          max-height: inherit;
          visibility: visible;
  }
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 1.4s infinite both;
	        animation: wobble-hor-bottom 1.4s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-29 12:3:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-29 14:8:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.roll-in-left {
	-webkit-animation: roll-in-left 1s ease-out both;
	        animation: roll-in-left 1s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-29 15:24:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-9 8:40:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
/* loader */
.loader {
  color: #dfda34;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
