body{
  width: 100%;
  text-align: center;
}
*{
  font-family: 'Anton', sans-serif;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* main content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-bottom: 0;
  
}
.navbar{
  display: none !important;
  background-color: red !important;
}
.nav-link{
  color: white !important;
}
/* side stuff */
#sidePic{
  height: 150px;
  border: 5px solid rgb(46, 255, 88);
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sideName{
  color: white;
  text-decoration: underline rgb(46, 255, 88);
}
.sideNavs{
  margin-top: 50px;
  margin-bottom: 50px;
}
.sidelinks{
  margin: none;
  display: inline-flex;
}
.sidelinkin:hover{
  color: rgb(46, 255, 88) !important;
}
 /* content */

h1{
  color: rgb(46, 255, 88);
  padding: 50px;
  font-size: 70px !important;
  font-family: 'Anton', sans-serif;
}
.sub-head{
  color: white;
  font-size: 50px !important;
  text-decoration: underline rgb(46, 255, 88);
}
h2{
  padding: 50px;
}
p{
  color: white;
}
#uppity{
  position: fixed;
  right:0;
  bottom: 0;
  border-radius: 25px;
  background-color: rgb(75, 75, 75);
  z-index: 27;
  margin:27px;
  text-decoration: none;
}
/* section1 */
#section1{
 padding-top: 50px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/hacking-2903156_1920.jpg);
  height: 900px;
  background-repeat: none;
  background-size: cover;
  margin: 0;
}
#down{
  margin-top: 50px;
  background-color: grey;
  border-radius: 50%;
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

/* section2 */
#section2{
 background-color: darkgray;
 height: 1000px;
}

/* section3 */
#section3{
  background-color: darkgoldenrod;
  height: 1000px;
}
/* section4 */
#section4{
  background-color: cadetblue;
  height: 1000px;
}
/* section5 */
#section5{
  background-color: brown;
  height: 1000px;
}
/* section6 */
#section6{
  background-color: purple;
  height: 1000px;
}
/* section7*/
#section7{
  background-color: green;
  height: 1000px;
}
footer{
  background-color: red;
  bottom: 0;
  margin: 0;
}

/* media queries */
@media screen and (max-width: 600px) {
  .navbar{
    display: initial !important;
    width: max-content;
    position: fixed;
    background-color: red !important;
  }
  .sidenav{
    display: none !important;
  }
  .main{
    margin: 5px;
  }
}

/* animations */
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-26 8:59:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
